.education {
  background: #fbfbfd;
  color: #1d1d1f;
}

.education h2 {
  font-family: "Caudex", "serif";
  text-transform: uppercase;
  font-weight: 700;
}

.education section p {
  opacity: 0.8;
  color: #1d1d1f;
  font-family: "Inter", "sans-serif";
  margin-bottom: 0;
}

section {
  margin-bottom: 20px;
}

a {
  color: #23527c;
}

a:hover {
  color: #0071e3;
}
