<section class="education">
  <div class="content-wrap item-details">
    <h2 class="education">Education & Certifications</h2>
    <section>
      <p>{{ schoolName }}, {{ schoolAddress }}</p>
      <p>
        <strong>{{ course }}</strong
        >, {{ major }}, {{ graduation }}
      </p>
    </section>
    <div class="coursework">
      <button
        *ngFor="let coursework of courseworks"
        type="button"
        class="btn btn-dark"
        data-toggle="tooltip"
        data-placement="top"
        title="{{ coursework }}"
      >
        {{ coursework }}
      </button>
    </div>

    <section *ngFor="let cert of certs">
      <p>
        <strong>{{ cert.certificateName }}</strong>
      </p>
      <p>{{ cert.provider }}, {{ cert.dateAcquired }}</p>
      <p>
        <a href="{{ cert.verificationURL }}" target="_blank">
          {{ cert.credentialID }}</a
        >
      </p>
    </section>
  </div>
</section>
