<section class="education">
  <div class="content-wrap item-details">
    <h2 class="education">Education & Certifications</h2>
    <section>
      <p><strong>Asia Pacific College</strong>, Makati City, Philippines</p>
      <p>
        <strong
          >BS Information Technology Major in Mobile and Internet
          Technologies</strong
        >, 2022
      </p>
      <p>
        <strong>Related Coursework:</strong><br />
        Database Management • Mobile Applications • Mobile Programming • Data
        Structures • UI/UX Design • Web Programming • Information Security •
        Software Development • Internet of Things Systems & Management •
        Programming Embedded Systems • Systems and Design • IT Analytics
      </p>
    </section>
  </div>
</section>
