<section class="education">
  <div class="content-wrap item-details">
    <h2 class="education">Education & Certifications</h2>
    <section>
      <p>Asia Pacific College, Makati City, Philippines</p>
      <p>
        <strong>BS Information Technology</strong>, Major in Mobile and Internet
        Technologies, 2022
      </p>
      <p>
        Database Management • Mobile Applications • Mobile Programming • Data
        Structures • UI/UX Design • Web Programming • Information Security •
        Software Development • Systems & Management • Programming Embedded
        Systems • Systems and Design • IT Analytics
      </p>
    </section>

    <section>
      <p><strong>Cloud Native Application Architect Nanodegree</strong></p>
      <p>Udacity, 11.2021</p>
      <p>
        <a
          href="https://graduation.udacity.com/confirm/HZJUTKXR"
          target="_blank"
          >Credential ID HZJUTKXR</a
        >
      </p>
    </section>

    <section>
      <p><strong>Associate Reactive Developer (OutSystems 11)</strong></p>
      <p>OutSystems, 04.2021</p>
    </section>

    <section>
      <p><strong>AWS Certified Cloud Practitioner (CLF)</strong></p>
      <p>Amazon Web Services, 03.2021</p>
      <p>
        <a
          href="https://www.youracclaim.com/badges/da75d76f-315c-4365-bfff-f5889234ccf4"
          target="_blank"
          >Credential ID 4S4E4TKBK2V4Q19X</a
        >
      </p>
    </section>
  </div>
</section>
