<header>
  <div class="content-wrap">
    <h1 class="full-name">{{ fullName }}</h1>
    <h3 class="job-title">Cloud Native Application Architect & Developer</h3>
    <div class="social-media">
      <div class="center">
        <a href="https://github.com/zarexalvindaria" target="_blank">
          <i class="fa fa-github" style="font-size: 26px"></i>
        </a>
        &nbsp;&nbsp;
        <a href="https://linkedin.com/in/zarexalvindaria" target="_blank">
          <i class="fa fa-linkedin" style="font-size: 26px"></i>
        </a>
      </div>
    </div>
  </div>
</header>
