<footer>
  <div class="content-wrap">
    <h2>Let's Keep in Touch!</h2>

    <!-- Social media and contact links. Add or remove any networks. -->
    <ul class="contact-list">
      <li>
        <a href="mailto:zarexalvindaria@gmail.com">zarexalvindaria@gmail.com</a>
      </li>
      <li>
        <a href="https://inforati.com.ph" target="_blank">inforati.com.ph</a>
      </li>
      <li>
        <a href="http://twitter.com/zarexalvindaria" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="https://linkedin.com/in/zarexalvindaria" target="_blank"
          >LinkedIn</a
        >
      </li>
    </ul>
  </div>
</footer>
