<section class="projects">
  <div class="content-wrap divider">
    <h2 class="projects">Featured Projects</h2>

    <!-- Project 1 -->
    <section class="project-item">
      <img
        class="center"
        src="https://raw.githubusercontent.com/zarexalvindaria/techtrends/main/screenshots/docker-run-local.png"
        alt="TechTrends"
      />
      <h3>TechTrends</h3>
      <p>
        My Cloud Native Fundamentals project created under Udacity's Cloud
        Native Application Architecture Nanodegree. Structured, packaged, and
        released an application to a Kubernetes cluster while using an automated
        CI/CD pipeline (ArgoCD).
      </p>
    </section>

    <!-- Project 2 -->
    <section class="project-item">
      <img src="images/xx" alt="Lorem ipsum" />
      <h3>Lorem ipsum</h3>
      <p>Lorem ipsum dolor set amit</p>
    </section>

    <!-- Project 3 -->
    <section class="project-item">
      <img src="images/xxx" alt="Lorem ipsum dolor set amit" />
      <h3>Lorem ipsum dolor set amit</h3>
      <p>Lorem ipsum dolor set amit</p>
    </section>
  </div>
</section>
