<main>
  <!-- ***************  ABOUT / PROFILE  **************** -->
  <app-header
    [fullName]="zarexalvindaria.fullName"
    [jobTitle]="zarexalvindaria.jobTitle"
    [linkedinURL]="zarexalvindaria.linkedinURL"
    [githubURL]="zarexalvindaria.githubURL"
  ></app-header>

  <!-- ************ PROJECTS / PORTFOLIO  ************** -->
  <app-project></app-project>

  <!-- *************  EDUCATION & CERTIFICATIONS *********** -->
  <app-education></app-education>

  <!-- ************  CONTACT INFO / SOCIAL MEDIA  ************ -->
  <app-footer></app-footer>
</main>
