<main>
  <!-- ***************  ABOUT / PROFILE  **************** -->
  <app-header
    [name]="zarexalvindaria.fullName"
    [title]="zarexalvindaria.jobTitle"
    [github]="zarexalvindaria.githubURL"
    [linkedin]="zarexalvindaria.linkedinURL"
  ></app-header>

  <!-- ************ PROJECTS / PORTFOLIO  ************** -->
  <app-project></app-project>

  <!-- *************  EDUCATION & CERTIFICATIONS *********** -->
  <app-education
    [schoolName]="zarexalvindaria.school.name"
    [schoolAddress]="zarexalvindaria.school.address"
    [course]="zarexalvindaria.school.course"
    [major]="zarexalvindaria.school.major"
    [graduation]="zarexalvindaria.school.expectedGraduation"
    [courseworks]="zarexalvindaria.relatedCoursework"
    [certs]="zarexalvindaria.certificate"
  ></app-education>

  <!-- ************  CONTACT INFO / SOCIAL MEDIA  ************ -->
  <app-footer></app-footer>
</main>
