<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="https://via.placeholder.com/600/0000FF/808080C/"
        alt="Carousel One"
      />
    </div>
    <div class="carousel-caption">
      <h3>Title</h3>
      <p>Aenean malesuada nisi ut commodo semper.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="https://via.placeholder.com/600/FF0000/FFFFFF"
        alt="Carousel Two"
      />
    </div>
    <div class="carousel-caption">
      <h3>Title</h3>
      <p>Aenean malesuada nisi ut commodo semper, Sit amet sagittis dolor.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="https://via.placeholder.com/600/FFFF00/000000"
        alt="Carousel Three"
      />
    </div>
    <div class="carousel-caption">
      <h3>Title</h3>
      <p>Commodo semper sit amet sagittis dolor.</p>
    </div>
  </ng-template>
</ngb-carousel>
