<section class="projects">
  <div class="content-wrap divider">
    <h2 class="projects">Featured Projects</h2>

    <!-- Experiment ngFor for the project items -->
    <section
      class="project-item"
      *ngFor="let project of projects; let i = index"
    >
      <h3>{{ project.name }}</h3>
      <!-- Start Carousel of Images -->
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of projects[i].image">
          <div class="carousel-img-wrapper">
            <img
              src="assets/images/{{ image.imageGroup }}/{{
                image.imageURL
              }}.png"
              alt="GitHub Actions"
            />
          </div>
          <div class="carousel-caption">
            <h3>{{ image.captionHead }}</h3>
            <p>
              {{ image.caption }}
            </p>
          </div>
        </ng-template>
      </ngb-carousel>
      <!-- End Carousel -->
      <div class="tags">
        <button
          *ngFor="let tag of project.tags"
          type="button"
          class="btn btn-dark"
          data-toggle="tooltip"
          data-placement="top"
          title="{{ tag }}"
        >
          {{ tag }}
        </button>
      </div>
      <p><span [innerHTML]="project.description"></span></p>
    </section>

    <!-- End Experiment ngFor -->
  </div>
</section>
