h2.projects {
  font-family: "Caudex", serif;
  text-transform: uppercase;
  font-weight: 700;
}

.project-item h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.project-item img {
  width: 100%;
  padding-bottom: 20px;
}

.projects {
  background: #ffffff;
}

p {
  font-family: "Inter", sans-serif;
}

.divider > section {
  border-bottom: 0;
  padding: 40px 0;
}

ngb-carousel {
  margin-bottom: 20px;
}

ngb-carousel .carousel-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .carousel-img-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.argo-cd {
  color: #393d43;
}
