/* You can add global styles to this file, and also import other style files */
/*
COLOR PALETTE
#F4F4F0 - almost white
#393D43 - dark gray - almost black
#24292e - GitHub dark mode
#c9d1d9 - GitHub white
#161B22 - GitHub code dark
*/

/* Global styles
------------------------------------*/
@import "~bootstrap/dist/css/bootstrap.min.css";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #393d43;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #ffe66d;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-family: "Caudex", serif;
  font-weight: 500;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 1.2;
  opacity: 0.9;
  color: #ffffff;
}
h1.full-name {
  text-align: center;
}

h2 {
  font-family: Inter, serif;
  font-weight: 700;
  font-size: 28px;
}
h2.education {
  color: #c9d1d9;
  text-align: center;
  padding-bottom: 30px;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 30px 0;
}
h3 {
  font-family: Inter, serif;
  font-weight: 400;
  margin-top: 0px !important;
  margin-bottom: 30px;
  font-size: 26px;
}
h3.job-title,
h2.projects {
  text-align: center;
}
h3.education {
  color: #c9d1d9;
  padding-bottom: 0px;
}

p {
  font-style: Inter, serif;
  font-weight: 400;
  font-size: 18px;
}

.item-details h3 + p {
  font-family: Inter, serif;
  font-weight: 400;
  color: #c9d1d9;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

/* Profile
      ------------------------------------*/
header {
  background: #040404;
  color: #f7fff7;
}

.fa {
  color: #39d353;
}

.fa:hover {
  color: #2ea043;
}

/* Projects
      ------------------------------------*/
.projects {
  background: #f7fff7;
}
.projects a {
  color: #2f3061;
}
.projects .btn {
  color: #f7fff7;
  background: #2f3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}
.project-item img {
  width: 50%;
}

/* Work Experience
      ------------------------------------*/
.work-experience {
  background: #a1c6d7;
}

/* Education
      ------------------------------------*/
.education {
  /*background-image: url(assets/images/joanna-kosinska-unsplash.jpg); 
  background-size: cover; 
  background-position: top right;
  */
  background: #161b22;
  padding-bottom: 100px;
}
.education p {
  width: 90%;
  color: #c9d1d9;
}

/* Contact Info
      ------------------------------------*/
footer {
  background: #040404;
  color: #f7fff7;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
}
.center {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/* Responsive
      ------------------------------------*/
@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 749px) {
  h1 {
    font-size: 75px;
    line-height: 0.9;
    /*margin-bottom: 20px;*/
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
}
